@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Quicksand:wght@300..700&family=Yatra+One&family=Zeyada&display=swap');

/*general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none ;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;;
}

.container {
    max-width: 1400px;
    margin: auto;

}

h1 {
    font-family:"Jacquard 12", system-ui;
    font-size: 1.5em;
    margin: 8px;
}

h2 {
    font-family:"Jacquard 12", system-ui;
    font-size: 2em;
    margin: 48px;
    text-align: center;
    
}


/*fakewindows*/
.navbar {
    width: 100%;
    background-color: black;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}

.img_dots {
    width: 5vh;
    margin: 6px;
}

.window {
    border: 4px solid black;
    width: 80%;
    border-radius: 20px;
    box-shadow: 4px 6px black;   
}

.window_2 {
    border: 4px solid black;
    width: 40%;  
    height: 250px;
    border-radius: 20px;
    box-shadow: 4px 6px black;  
}

.window_3 {
    border: 4px solid black;
    width: 80%;
    height: 70vh;
    border-radius: 20px;
    margin: 6px;
}

/*fakewindows proyects page*/
.window_p1 {
    border: 4px solid black;
    width: 40%;
    height: 60vh;
    border-radius: 20px;
    margin: 6px;
}

.window_p2 {
    border: 4px solid black;
    width: 80%;
    height: 25vh;
    border-radius: 20px;
    margin: 6px;
}

.window_p3 {
    border: 4px solid black;
    width: 80%;
    height: 35vh;
    border-radius: 20px;
    margin: 6px;
}

.window_p1_2 {
    border: 4px solid black;
    width: 40%;
    height: 60vh;
    border-radius: 20px;
    margin: 6px;
}

/*nav bar */
.nav_container{
    position:relative;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 80px;

    --icon-toggle-menu: url("img/SVG/star_logo.svg");
    --transform-menu-show: translate(-100%);
}

.nav_container:has(.nav_input:checked) {
    --icon-toggle-menu: url("img/SVG/star_logowhite.svg");
    --transform-menu-show: translate(0);
}

.nav_input {
    display: none;
}

.nav_toggle {
    position: fixed;
    width: 60px;
    height: 40px;
    background-image: var(--icon-toggle-menu);
    background-size: cover;
    cursor: pointer;
    z-index: 10;

   transition: background-image .5s;
}

.nav_list {
    transform: var(--transform-menu-show);
    position: fixed;
    background-color: rgb(69, 69, 216);
    inset: 0;
    padding: 1.5rem 5%;
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    
    transition: .5s transform;
}

.nav_link{
    color: rgb(255, 255, 255);
    font-family:"Jacquard 12", system-ui; 
    font-size: 2em;
}

.nav_link:hover {
    color: rgb(0, 0, 0);
}

/*hero*/
#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 85vh;
}

.logo_name {
    width: 95%;
}

.button1 {
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 12px;
    background-color: rgb(69, 69, 216);
    box-shadow: 4px 6px black;
    color: white;
}

.button1:hover {
    background-color: rgb(23, 53, 136);
}

/*info perosnal*/

.img_movile {
    display: none;
}

.info_personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.personal_info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
}

 .personal_info p {
    padding: 28px;
    text-align: justify;
}

.personalpicture {
    width: 20%;
    margin: 60px;
}

.abilities {
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin: 20px;
}

.titles {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}


/*contact*/


.icons  li{
    width: 5vh;
    margin: 22px; 
}

.links_contact li{
    padding: 20px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_support {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fraseimg {
    width: 80%;
    padding: 40px;
}

.info_links {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.more_window {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.more_window p {
    margin: 20px;
}

/*proyect section*/

#proyects {
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

#proyects h1 {
    font-family:"Jacquard 12", system-ui;
    font-size: 2em;
    margin: 20px;
    text-shadow: black 4px 2px;
}

#proyects .info_proyects {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    color: rgb(251, 251, 251);
    padding: 80px 40px;
}

#proyects .window_3{
    text-align: justify;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
}

.window_3:first-child{  
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/SVG/imu_page/imu_proyect.svg");

}

.window_3:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/SVG/rumys/rumys_proyect.svg");
    
}

.window_3:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,("media/python.jpg");

}

/*footer*/

.footer {
    background-color: #000; 
    padding: 20px;
    margin-top: 40px;
    text-align: center;
  }
  
  .icons_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-bottom: 10px;
  }
  
  .icons_footer a img {
    width: 25px; 
    height: auto;
  }
  
  .marca p {
    color: white; 
    font-size: 14px;
  }

/*proyect page imu*/

.home_proyect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proyect_descrip{
    text-align: justify;
    padding: 20px 80px 20px;
}

.windows_proyect{
    display: flex;
    justify-content: center;
    align-items: center;
}

.windows_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.window_p1 {
    background-image: url(img/SVG/imu_page/imu_proyect.svg);
   background-size: cover;
   background-position: center;
}

/*proyect page rumys*/

.window_p1_2 {
    background-image: url(img/SVG/rumys/rumys_proyect.svg);
    background-size: cover;
    background-position: center;
   
}


/*media central page*/

@media (max-width:720px){

    .personalpicture {
        display: none;
    }

    .window {
       display: none; 
    }

    .img_support {
        display: none;
    }

    .window_2 {
        border: 4px solid black;
        width: 80%;  
        height: 250px;
        border-radius: 20px;
        box-shadow: 4px 6px black;  
    }

    #proyects {
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: center;
        align-items: center;
    }

    .img_movile {
        display: block;
        width: 70%;
    }

    /*media proyect page*/

    
    .windows_proyect {
        display: flex;
        flex-direction: column;
    }

    .window_p1 {
        border: 4px solid black;
        width: 80%;
        height: 60vh;
        border-radius: 20px;
        margin: 6px;
    }

    .window_p1_2 {
        border: 4px solid black;
        width: 80%;
        height: 60vh;
        border-radius: 20px;
        margin: 6px;
    }

    
    }
