@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Yatra+One&family=Zeyada&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:"Quicksand";
    font-size: small;
}

h1 {
    font-size: 20px;
}

#hero{
    padding: 250px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#aboutme  {
    display: flex;
    flex-direction: column;
   

}


.logoefra{
    width: 60vh;
    padding: 20px;
}

#carouselExampleCaption {

    width: 80%;
}
